[submodule "AdvancedSolidity/GasOptimisationFoundry/lib/forge-std"]
	path = AdvancedSolidity/GasOptimisationFoundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "AdvancedSolidity/FoundryInstall/foundryTest/lib/forge-std"]
	path = AdvancedSolidity/FoundryInstall/foundryTest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
